html, body {
  width: 100% !important;
  height:100% !important;
}

body {
  background: linear-gradient(-45deg, #001E61, #ADC7FF, #FCC62A, #FDE59B) !important;
  background-size: 400% 400% !important;
  animation: gradient 15s ease infinite !important;
}

@font-face {
  font-family: AvenirNext;
  src: url(AvenirNextLTPro-Regular.otf);
}

@font-face {
  font-family: AvenirNext;
  src: url(AvenirNextLTPro-Bold.otf);
  font-weight: bold;
}

@font-face {
  font-family: AvenirNext;
  src: url(avenir-next-medium.ttf);
  font-weight: 500;
}


@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.formContainer {
  margin-top: 2.5vh;
  display: flex;
  justify-content: center;
  align-content: center;
}

.cardContainer {
  padding: 1% 0;
  border-radius: 10px;
  background-color: rgba(247, 247, 255);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.vcard {
  background-color: #ffffff;
  /* background-color: #c4cad7; */
  width: 1100px;
  /* width: 64.3vw; */
  /* width: 64.3vw; */
  /* height: 1920px; */
  /* aspect-ratio: 9/16; */
  /* height: 198vh; */
  display: flex;
  flex-direction: column;
  font-family: AvenirNext;
  align-items: center;
}

.vcardCon {
  /* background:black;
  background:rgba(0,0,0,0.8);

  filter:blur(4px);
  -o-filter:blur(4px);
  -ms-filter:blur(4px);
  -moz-filter:blur(4px);
  -webkit-filter:blur(4px);
  height: 2%;
  overflow: hidden; */
  /* transform: scale(0.3); */
  /* transform-origin: left; */
  /* overflow: scroll; */
  /* transform: scale(0.5); */
  /* transform-origin: top left; */
  /* position: absolute; */
}

.organizationTitle {
  background-color: #001E61;
  width: 65%;
  height: 19%;
  border-radius: 0 0 30px 30px;
  margin-bottom: 8%;
  padding-top: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.organizationTitleSer {
  background-color: #EDF1F4;
  width: 65%;
  height: 19%;
  border-radius: 0 0 30px 30px;
  margin-bottom: 8%;
  /* padding-top: 3%; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.servirLogo {
  width: 70%;
  height: 70%;
}

.person {
  /* background-color: #FCC62A; */
  width: 75%;
}

.pName {
  font-size: 75px;
  /* font-size: 4.46vw; */
  font-weight: bold;
  color: #001E61;
}

.pPosition {
  color: #001E61;
  font-size: 50px;
  /* font-size: 2.98vw; */
}

.contact {
  margin-top: 10%;
  width: 75%;
  font-size: 50px;
  /* font-size: 2.98vw; */
  color: #001E61;
  
}

.line {
  height: 0.5vh;
  width: 18vw;
  background-color: #FCC62A;
  border-radius: 5px 0 0 5px;
  margin-left: 2.98vw;
  position: absolute;
  right: 2.14%;
  top: 34%;
}

.lineSer {
  height: 0.5vh;
  width: 18vw;
  background-color: #2566FF;
  border-radius: 5px 0 0 5px;
  margin-left: 2.98vw;
  position: absolute;
  right: 2.14%;
  top: 34%;
}

.testt {
  margin-top: -50px;
  margin-left: 3%;
  margin-right: 5%;
}

.contactDetail {
  display: flex;
  /* background-color: aqua; */
  align-items: center;
}

.contactDetail.cSpace {
  margin-top: 40px;
}

.qr {
  border: 13px solid #FCC62A;
  /* border: 0.8vw solid #FCC62A; */
  border-radius: 5px;
  margin-top: 10%;
  margin-bottom: 10%;
}

.qrSer {
  border: 13px solid #2566FF;
  /* border: 0.8vw solid #FCC62A; */
  border-radius: 5px;
  margin-top: 10%;
  margin-bottom: 10%;
}

.footer {
  background-color: #001E61;
  width: 65%;
  height: 6%;
  /* height: 5vh; */
  border-radius: 30px 30px 0 0;
  color: #FCC62A;
  font-weight: 500;
  font-size: 50px;
  /* font-size: 2.98vw; */
  /* padding-top: 1%; */
  text-align: center;
}

.footerSer {
  background-color: #EDF1F4;
  width: 65%;
  height: 6%;
  /* height: 5vh; */
  border-radius: 30px 30px 0 0;
  color: #FCC62A;
  font-weight: 500;
  font-size: 50px;
  /* font-size: 2.98vw; */
  /* padding-top: 1%; */
  text-align: center;
}

.mobile-message {
  display: none;
}

.css-hdd9l7 {
  background-color: rgba(0,0,0,0.8) !important;
}



@media only screen and (max-width: 959px) {
  .formContainer {
    display: none;
  }

  .mobile-message {
    display: block;
    text-align: center;
    position: absolute;
    top: 30%;
  }


 

  /* .vcard { */
    /* width: 100%; */
    /* width: 70vw;
  }

  .organizationTitle {
    border-radius: 0 0 15px 15px;
  }

  .pName {
    font-size: 23px;
  }

  .pPosition {
    font-size: 50px;
  }
  
  .contact { 
    font-size: 50px;
    
  } */
}