html, body {
  width: 100% !important;
  height:100% !important;
}

body {
  background: linear-gradient(-45deg, #001E61, #ADC7FF, #FCC62A, #FDE59B) !important;
  background-size: 400% 400% !important;
  animation: gradient 15s ease infinite !important;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.formContainer {
  margin-top: 2.5vh;
  display: flex;
  justify-content: center;
  align-content: center;
}

.cardContainer {
  padding: 1% 0;
  border-radius: 10px;
  background-color: rgba(247, 247, 255);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.vcard {
  background-color: #c4cad7;
  /* width: 100%; */
  width: 1080px;
  height: 1920px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.organizationTitle {
  background-color: #001E61;
  width: 65%;
  height: 19%;
  border-radius: 0 0 30px 30px;
  margin-bottom: 8%;
}

.person {
  /* background-color: #FCC62A; */
  width: 75%;
}

.pName {
  font-size: 70px;
  font-weight: bold;
  color: #001E61;
}

.pPosition {
  color: #001E61;
  font-size: 40px;
}

.contact {
  margin-top: 10%;
  width: 75%;
  font-size: 25px;
  color: #001E61;
  
}

.line {
  height: 0.2vh;
  width: 7vw;
  background-color: #FCC62A;
  border-radius: 5px;
  margin-left: 50px;
  position: absolute;
  right: 5.4%;
  top: 36.5%;
}

.testt {
  margin-top: -10px;
  padding-left: 3%;
}

.nose {
  display: flex;
}

.qr {
  border: 3px solid #FCC62A;
  border-radius: 5px;
  margin-top: 10%;
  margin-bottom: 10%;
}

.footer {
  background-color: #001E61;
  width: 65%;
  height: 4%;
  /* height: 5vh; */
  border-radius: 10px 10px 0 0;
  color: #FCC62A;
  font-weight: 400;
  font-size: 20px;
  font-size: 1.2vw;
  /* padding-top: 1%; */
  text-align: center;
}


